.dashboard-layout {
    display: flex;
    gap: 50px;
    height: 100%;
    padding-top: 20px;

    .menu {
        flex: 1;
    }

    .content {
        flex: 4;
        background-color: #12101b
    }
}